<div
  [class.gray-bg]="house?.id % 2 === 0">
  <div>City: {{house.city}}</div>
  <div>
  <span>
    Price: {{house.price | currency}}
  </span>
  </div>

  <button
    *ngIf="id"
    routerLink="edit/{{house.id}}">
    edit info
  </button>
  <button
    *ngIf="!id"
    routerLink="/detailed/{{house.id}}">
    full info
  </button>
  <button
    *ngIf="id"
    (click)="deleteHouse.emit(house.id)">
    delete
  </button>
</div>
<br>

