<form
  class="login-page"
  #registerForm="ngForm"
  (submit)="registerForm.form.valid ? addNewUser.emit(newUser) : null">
  <div>
    <label
      for="firstName"
      class="login-item">
      enter your first name:
    </label>
    <input
      #firstName="ngModel"
      type="text"
      id="firstName"
      name="firstName"
      class="login-item login-input"
      required
      [rangeLength]="[minName, maxName]"
      pattern="[A-Z][a-z]+"
      [(ngModel)]="newUser.firstName"
      [class.is-invalid]="registerForm.form.touched && firstName.invalid"
      [class.valid]="firstName.valid">
    <app-must-be-filled-paragraph
      [form]="registerForm"
      [field]="firstName">
    </app-must-be-filled-paragraph>
    <app-range-length-paragraph
      [MINLength]="minName"
      [MAXLength]="maxName"
      [field]="firstName">
    </app-range-length-paragraph>
    <app-pattern-error-paragraph [field]="firstName"></app-pattern-error-paragraph>
  </div>
  <div>
    <label
      for="lastName"
      class="login-item">
      enter your last name:
    </label>
    <input
      #lastName="ngModel"
      type="text"
      id="lastName"
      name="lastName"
      class="login-item login-input"
      required
      [rangeLength]="[minName, maxName]"
      pattern="[A-Z][a-z]+"
      [(ngModel)]="newUser.lastName"
      [class.is-invalid]="registerForm.form.touched && lastName.invalid"
      [class.valid]="lastName.valid">
    <app-range-length-paragraph
      [MINLength]="minName"
      [MAXLength]="maxName"
      [field]="lastName">
    </app-range-length-paragraph>
    <app-pattern-error-paragraph [field]="lastName"></app-pattern-error-paragraph>
    <app-must-be-filled-paragraph
      [form]="registerForm"
      [field]="lastName">
    </app-must-be-filled-paragraph>
  </div>
  <div>
    <label
      for="phone"
      class="login-item">
      enter your phone number:
    </label>
    <input
      #phone="ngModel"
      type="text"
      id="phone"
      name="phone"
      class="login-item login-input"
      required
      pattern="[+][0-9]{12}"
      [(ngModel)]="newUser.phone"
      [class.is-invalid]="registerForm.form.touched && phone.invalid"
      [class.valid]="phone.valid">
    <p
      class="red-color"
      *ngIf="phone.errors?.pattern">
      First character must be "+", then 12 digits
    </p>
    <app-must-be-filled-paragraph
      [form]="registerForm"
      [field]="phone">
    </app-must-be-filled-paragraph>
  </div>
  <div>
    <label
      for="email"
      class="login-item">
      enter your email:
    </label>
    <input
      #email="ngModel"
      type="text"
      id="email"
      name="email"
      class="login-item login-input"
      required
      ngvemail
      [(ngModel)]="newUser.email"
      [class.is-invalid]="registerForm.form.touched && email.invalid"
      [class.valid]="email.valid">
    <p
      class="red-color"
      *ngIf="email.errors?.email">
      Enter valid email
    </p>
    <app-must-be-filled-paragraph
      [form]="registerForm"
      [field]="email">
    </app-must-be-filled-paragraph>
  </div>
  <div>
    <label
      for="login"
      class="login-item">
      enter your login:
    </label>
    <input
      #login="ngModel"
      type="text"
      id="login"
      name="login"
      class="login-item login-input"
      required
      [rangeLength]="[minLogin, maxLogin]"
      pattern="[A-Za-z0-9 -]+"
      [(ngModel)]="newUser.login"
      [class.is-invalid]="registerForm.form.touched && login.invalid"
      [class.valid]="login.valid">
    <app-range-length-paragraph
      [MINLength]="minLogin"
      [MAXLength]="maxLogin"
      [field]="login">
    </app-range-length-paragraph>
    <app-pattern-error-paragraph [field]="login"></app-pattern-error-paragraph>
    <app-must-be-filled-paragraph
      [form]="registerForm"
      [field]="login">
    </app-must-be-filled-paragraph>
  </div>
  <div>
    <label
      for="password"
      class="login-item">
      enter your password:
    </label>
    <input
      #password="ngModel"
      type="password"
      id="password"
      name="password"
      class="login-item login-input"
      required
      [rangeLength]="[minPassword, maxPassword]"
      pattern="[A-Za-z0-9]+"
      [(ngModel)]="newUser.password"
      [class.is-invalid]="registerForm.form.touched && password.invalid"
      [class.valid]="password.valid">
    <app-range-length-paragraph
      [MINLength]="minPassword"
      [MAXLength]="maxPassword"
      [field]="password">
    </app-range-length-paragraph>
    <app-pattern-error-paragraph [field]="password"></app-pattern-error-paragraph>
    <app-must-be-filled-paragraph
      [form]="registerForm"
      [field]="password">
    </app-must-be-filled-paragraph>
  </div>
  <div>
    <label
      for="certainPassword"
      class="login-item">
      Confirm the password:
    </label>
    <input
      #certainPassword="ngModel"
      type="password"
      id="certainPassword"
      name="certainPassword"
      class="login-item login-input"
      required
      [equalTo]="password"
      ngModel
      [class.is-invalid]="registerForm.form.touched && certainPassword.invalid"
      [class.valid]="certainPassword.valid">
    <p
      class="red-color"
      *ngIf="certainPassword.errors?.equalTo && certainPassword.dirty">
      Must be equal to password
    </p>
    <app-must-be-filled-paragraph
      [form]="registerForm"
      [field]="certainPassword">
    </app-must-be-filled-paragraph>
  </div>
  <button
    type="submit"
    (click)="registerForm.form.markAsTouched()"
    class="login-button">
    Enter
  </button>
</form>
