<p
  class="red-color"
  *ngIf="field.errors?.pattern && !field.errors?.rangeLength"
  [ngSwitch]="field.name">
  <ng-container *ngSwitchCase="'login'">
    The login must include A-Z, a-z letters, " ", "-", and 0-9 digits
  </ng-container>
  <ng-container *ngSwitchCase="'password'">
    The password must include A-Z, a-z letters, and 0-9 digits
  </ng-container>
  <ng-container *ngSwitchDefault>
    First letter must be uppercase, others lowercase
  </ng-container>
</p>
