<p
  class="red-color"
  *ngIf="form.form.touched && field.errors?.min && !field.errors?.required"
  [ngSwitch]="field.name">
  <ng-container *ngSwitchCase="'price'">
    It must be from {{ minNumber | currency }}
  </ng-container>
  <ng-container *ngSwitchCase="'roomCount'">
    It must be from {{ minNumber }}
  </ng-container>
</p>
