<header class="header">
  <app-sign-up-button></app-sign-up-button>
  <app-log-in-button></app-log-in-button>
  <app-log-out-button></app-log-out-button>
  <app-own-page-button></app-own-page-button>
  <app-name></app-name>
</header>

<app-house
  *ngFor="let house of houses"
  [house] = "house">

</app-house>

