<header class="header">
  <app-sign-up-button></app-sign-up-button>
  <app-log-in-button></app-log-in-button>
  <app-log-out-button></app-log-out-button>
  <app-main-page-button></app-main-page-button>
  <app-own-page-button></app-own-page-button>
  <app-name></app-name>
</header>

<form
  #createNewHouseForm="ngForm"
  (submit)="createNewHouseForm.form.valid ? addNewHouse() : null">
  <div class="input-div">
    <label
      for="city"
      class="login-item">
      City:
    </label>
    <input
      #city="ngModel"
      type="text"
      id="city"
      name="city"
      class="login-item login-input"
      required
      pattern="[A-Z][A-Za-z -]+"
      [(ngModel)]="newHouse.city"
      [class.is-invalid]="createNewHouseForm.form.touched && city.errors?.required || city.errors?.pattern">
    <app-must-be-filled-paragraph
      [field]="city"
      [form]="createNewHouseForm">
    </app-must-be-filled-paragraph>
    <app-letters-paragraph [field]="city"></app-letters-paragraph>
  </div>
  <div class="input-div">
    <label
      for="street"
      class="login-item">
      Street:
    </label>
    <input
      #street="ngModel"
      type="text"
      id="street"
      name="street"
      class="login-item login-input"
      required
      pattern="[A-Z][A-Za-z -]+"
      [(ngModel)]="newHouse.street"
      [class.is-invalid]="createNewHouseForm.form.touched && street.errors?.required || street.errors?.pattern">
    <app-must-be-filled-paragraph
      [field]="street"
      [form]="createNewHouseForm">
    </app-must-be-filled-paragraph>
    <app-letters-paragraph [field]="street"></app-letters-paragraph>
  </div>
  <div class="input-div">
    <label
      for="houseNumber"
      class="login-item">
      House number:
    </label>
    <input
      #houseNumber="ngModel"
      type="number"
      id="houseNumber"
      name="houseNumber"
      class="login-item login-input"
      required
      [range]="[minHouseNumber, maxHouseNumber]"
      [(ngModel)]="newHouse.houseNumber"
      [class.is-invalid]="createNewHouseForm.form.touched && (houseNumber.errors?.required || houseNumber.errors?.range)">
    <app-must-be-filled-paragraph
      [field]="houseNumber"
      [form]="createNewHouseForm">
    </app-must-be-filled-paragraph>
    <p
      class="red-color"
      *ngIf="createNewHouseForm.form.touched && houseNumber.errors?.range && !houseNumber.errors?.required">
      It must be from {{ minHouseNumber }} to {{ maxHouseNumber }}
    </p>
  </div>
  <div class="input-div">
    <label
      for="price"
      class="login-item">
      Price:
    </label>
    <input
      #price="ngModel"
      type="number"
      id="price"
      name="price"
      class="login-item login-input"
      required
      [min]="minPrice"
      [(ngModel)]="newHouse.price"
      [class.is-invalid]="createNewHouseForm.form.touched && (price.errors?.required || price.errors?.min)">
    <app-must-be-filled-paragraph
      [field]="price"
      [form]="createNewHouseForm">
    </app-must-be-filled-paragraph>
    <app-min-error-paragraph
      [form]="createNewHouseForm"
      [field]="price"
      [minNumber]="minPrice">
    </app-min-error-paragraph>
  </div>
  <div class="input-div">
    <label
      for="roomCount"
      class="login-item">
      Count of rooms:
    </label>
    <input
      #roomCount="ngModel"
      type="number"
      id="roomCount"
      name="roomCount"
      class="login-item login-input"
      required
      [min]="minRoomCount"
      [(ngModel)]="newHouse.roomCount"
      [class.is-invalid]="createNewHouseForm.form.touched && (roomCount.errors?.required || roomCount.errors?.min)">
    <app-must-be-filled-paragraph
      [field]="roomCount"
      [form]="createNewHouseForm">
    </app-must-be-filled-paragraph>
    <app-min-error-paragraph
      [form]="createNewHouseForm"
      [field]="roomCount"
      [minNumber]="minRoomCount">
    </app-min-error-paragraph>
  </div>
  <button
    type="submit"
    (click)="createNewHouseForm.form.markAsTouched()">
    make advertisement
  </button>
</form>

<router-outlet></router-outlet>
