<button
  *ngIf="token && href !== '/houses-to-sale'"
  (click)="logOut()"
  routerLink="/houses-to-sale">
  log out
</button>
<button
  *ngIf="token && href === '/houses-to-sale'"
  (click)="logOut()"
  routerLink="/">
  log out
</button>
<router-outlet></router-outlet>
