<header class="header">
  <app-sign-up-button></app-sign-up-button>
  <app-log-in-button></app-log-in-button>
  <app-log-out-button></app-log-out-button>
  <app-main-page-button></app-main-page-button>
  <app-name></app-name>
</header>

<button
  routerLink="create">
  Create new advertisement
</button>
<router-outlet></router-outlet>
<br>

<app-house
  *ngFor="let house of houses"
  [house] = "house"
  (deleteHouse)="clickToDeleteHouse($event)">

</app-house>

