<header class="header">
  <app-sign-up-button></app-sign-up-button>
  <app-log-in-button></app-log-in-button>
  <app-log-out-button></app-log-out-button>
  <app-main-page-button></app-main-page-button>
  <app-own-page-button></app-own-page-button>
  <app-name></app-name>
</header>
<section>
  <h1>This house is situated in {{ house.city }}</h1>
  <h2>Price: {{ house.price }}</h2>
  <p>On the <strong>{{ house.street }}</strong> street, <strong>{{ house.houseNumber }}</strong></p>
  <p>Owner of the house is <strong>{{ user.firstName }} {{ user.lastName }}</strong></p>
  <p>You can call: <strong>{{ user.phone }}</strong>, or send email to <strong>{{ user.email }}</strong></p>
</section>
