<form
  class="login-page"
  #loginForm="ngForm"
  (submit)="loginForm.form.valid ? check() : null">
  <label
    for="login"
    class="login-item">
    Enter your login:
  </label>
  <input
    #login="ngModel"
    type="text"
    id="login"
    class="login-item login-input"
    name="login"
    required
    [(ngModel)]="data.login"
    [class.is-invalid]="loginForm.form.touched && login.errors?.required || !login.errors?.required && error">
  <app-must-be-filled-paragraph
    [form]="loginForm"
    [field]="login">
  </app-must-be-filled-paragraph>
  <label
    for="password"
    class="login-item">
    Enter your password:
  </label>
  <input
    #password="ngModel"
    type="password"
    id="password"
    class="login-item login-input"
    name="password"
    required
    [(ngModel)]="data.password"
    [class.is-invalid]="loginForm.form.touched && password.errors?.required || !password.errors?.required && error">
  <app-must-be-filled-paragraph
    [form]="loginForm"
    [field]="password">
  </app-must-be-filled-paragraph>
  <p
    class="red-color"
    *ngIf="error && !login.errors?.required && !password.errors?.required">
    there is not such user
  </p>
  <button
    type="submit"
    class="login-button"
    (click)="loginForm.form.markAsTouched()">
    Enter
  </button>
  <router-outlet></router-outlet>
</form>
