/* You can add global styles to this file, and also import other style files */
.header {
  height: 100px;
  background: aquamarine;
}

.gray-bg {
  background: #e9e9e9;
}

.login-page {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
  padding: 15px;
  font-size: 25px;
  border: 1px solid #626262;
  border-radius: 5px;
  background: #dddddd;
}

.login-item {
  margin: 5px;
}

.login-input {
  height: 30px;
}

.is-invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}

.red-color {
  color: red;
  font-size: 12px;
  margin: 0;
}

.login-button {
  width: 50px;
  height: 30px;
  margin: 0 5px;
}

.registration-form {
  width: 25%;
  margin: auto;
  border: 1px solid #020202;
  background: #dddddd;
  padding: 10px;
}

.registration-form-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 600px;
}
