<header class="header">
  <app-sign-up-button></app-sign-up-button>
  <app-log-in-button></app-log-in-button>
  <app-log-out-button></app-log-out-button>
  <app-own-page-button></app-own-page-button>
  <app-name></app-name>
</header>
<section>

  <form
    #editHouseForm="ngForm"
    (submit)="editHouseForm.form.valid ? editHouse() : null">
    <div class="input-div">
      <label
        for="city"
        class="login-item">
        City:
      </label>
      <input
        #city="ngModel"
        type="text"
        id="city"
        name="city"
        class="login-item login-input"
        required
        pattern="[A-Z][A-Za-z -]+"
        [(ngModel)]="house.city"
        [class.is-invalid]="editHouseForm.form.touched && city.errors?.required || city.errors?.pattern">
      <app-must-be-filled-paragraph
        [field]="city"
        [form]="editHouseForm">
      </app-must-be-filled-paragraph>
      <app-letters-paragraph [field]="city"></app-letters-paragraph>
    </div>
    <div class="input-div">
      <label
        for="street"
        class="login-item">
        Street:
      </label>
      <input
        #street="ngModel"
        type="text"
        id="street"
        name="street"
        class="login-item login-input"
        required
        pattern="[A-Z][A-Za-z -]+"
        [(ngModel)]="house.street"
        [class.is-invalid]="editHouseForm.form.touched && street.errors?.required || street.errors?.pattern">
      <app-must-be-filled-paragraph
        [field]="street"
        [form]="editHouseForm">
      </app-must-be-filled-paragraph>
      <app-letters-paragraph [field]="street"></app-letters-paragraph>
    </div>
    <div class="input-div">
      <label
        for="houseNumber"
        class="login-item">
        House number:
      </label>
      <input
        #houseNumber="ngModel"
        type="number"
        id="houseNumber"
        name="houseNumber"
        class="login-item login-input"
        required
        [range]="[minHouseNumber, maxHouseNumber]"
        [(ngModel)]="house.houseNumber"
        [class.is-invalid]="editHouseForm.form.touched && (houseNumber.errors?.required || houseNumber.errors?.range)">
      <app-must-be-filled-paragraph
        [field]="houseNumber"
        [form]="editHouseForm">
      </app-must-be-filled-paragraph>
      <p
        class="red-color"
        *ngIf="editHouseForm.form.touched && houseNumber.errors?.range && !houseNumber.errors?.required">
        It must be from {{ minHouseNumber }} to {{ maxHouseNumber }}
      </p>
    </div>
    <div class="input-div">
      <label
        for="price"
        class="login-item">
        Price:
      </label>
      <input
        #price="ngModel"
        type="number"
        id="price"
        name="price"
        class="login-item login-input"
        required
        [min]="minPrice"
        [(ngModel)]="house.price"
        [class.is-invalid]="editHouseForm.form.touched && (price.errors?.required || price.errors?.min)">
      <app-must-be-filled-paragraph
        [field]="price"
        [form]="editHouseForm">
      </app-must-be-filled-paragraph>
      <app-min-error-paragraph
        [form]="editHouseForm"
        [field]="price"
        [minNumber]="minPrice">
      </app-min-error-paragraph>
    </div>
    <div class="input-div">
      <label
        for="roomCount"
        class="login-item">
        Count of rooms:
      </label>
      <input
        #roomCount="ngModel"
        type="number"
        id="roomCount"
        name="roomCount"
        class="login-item login-input"
        required
        [min]="minRoomCount"
        [(ngModel)]="house.roomCount"
        [class.is-invalid]="editHouseForm.form.touched && (roomCount.errors?.required || roomCount.errors?.min)">
      <app-must-be-filled-paragraph
        [field]="roomCount"
        [form]="editHouseForm">
      </app-must-be-filled-paragraph>
      <app-min-error-paragraph
        [form]="editHouseForm"
        [field]="roomCount"
        [minNumber]="minRoomCount">
      </app-min-error-paragraph>
    </div>
    <button
      type="submit"
      (click)="editHouseForm.form.markAsTouched()">
      change
    </button>
  </form>
</section>

